# Symfony directories
/web/bundles/
/web/uploads/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/

# Configuration files
/app/config/parameters.yml

#phpStorm
.idea

# Other
/composer.phar