parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: sfbase
    database_user: root
    database_password: null
    database_path: null
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: lt_LT
    secret: CREATE_SOME_SECRET_STRING
    project: SOMETHING
    project_domain: .something.com
    project_email: info@something.com
    project_full_host: http://www.something.com