body {
    background-color: white;
    height: 100%;
}
html {
    height: 100%;
}
.form-signin {
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-normal {
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}
.tinymce-div,
.form-normal input[type="number"],
.form-normal input[type="text"],
.form-normal input[type="email"],
.form-normal input[type="password"],
.form-normal textarea,
.form-normal select,
.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"]
{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -55px;
}
/* Set the fixed height of the footer here */
#push{
    height: 55px;
}
#footer {
    height: 40px;
}
#footer {
    margin-top: 15px;
    background-color: #222222;
    background-image: linear-gradient(to bottom, #3C3C3C 0%, #222222 100%);
    background-repeat: repeat-x;
}
#wrap > .container {
    padding-top: 50px;
}
.container-footer {
    padding: 0 15px;
}
.text-muted {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.text-muted a{
    margin-left: 5px;
    margin-right: 5px;
}
.required:after {
    margin-left: 5px;
    content: "*";
    color: red;
}
.grid_body.table-responsive th a {
    color : black;
}
.grid .grid-filter-input-query input, .grid .grid-filter-select-query select {
    width: 90% !important;
}
